
body {
	position: relative;
	width: 98%;
	height: 96%;
	margin: 1em auto;
	margin-left: 2em;
	font-family: 'Raleway';
}

.title {
	font-family: 'Palanquin', sans-serif;
	font-size: 3em;
}

.submitButton{
	margin-top: 1em;
}